@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/Home.css")

<form>
    <div class="titre">
        <h1>Bienvenue sur votre site de gestion de quizs</h1>
    </div>

    <div class="paragraphe">
        Pour vous connecter veuillez choisir votre statut :
    </div>

    <button class="boutonAdmin">
        @Html.ActionLink("Administrateur", "ConnexionAdmin", "Home", new { @class = "linkcolor" })
    </button>

    <button class="boutonRecruteur">
        @Html.ActionLink("Recruteur", "ConnexionRecruteur", "Home", new { @class = "linkcolor" })
    </button>

</form>

